<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container col-md-3 py-5 text-center">
    <div class="py-1" id="naver_id_login">
        <a href="/oauth2/authorization/naver">
            <img class="oauth2-login-btn" th:src="@{/asset/login/naver/btn_login_naver.png}" />
        </a>
    </div>
    <div class="py-1" id="google_id_login">
        <a href="/oauth2/authorization/google">
            <img class="oauth2-login-btn" th:src="@{/asset/login/google/web_light_sq_SU@1x.png}" />
        </a>
    </div>
</div>
</body>
</html>