<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<div class="container-fluid row px-3 py-3" th:fragment="logo">
    <div class="col-md-2 text-center">
        <a class="navbar-brand" href="/"><h3 th:text="#{header.logo}"></h3></a>
    </div>
    <div class="col-md-10">
        <ul class="nav justify-content-end text-dark">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login" th:text="#{header.login}">로그인</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form action th:action="@{/logout}" id="logout" method="post">
                    <a class="nav-link" onclick="document.getElementById('logout').submit();" href="#" th:text="#{header.logout}">로그아웃</a>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid px-0 bg-info bg-gradient text-white" th:fragment="bodyHeader">
    <div class="container-fluid">
        <ul class="nav justify-content-center text-dark">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{bodyHeader.notice}">공지사항</a>
            </li>
        </ul>
    </div>
</div>