<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div class="container-fluid row px-3 py-3" th:fragment="logo">
    <div class="col-md-2 text-center">
        <a class="navbar-brand" href="/"><h3 th:text="#{header.logo}"></h3></a>
    </div>
    <div class="col-md-10">
        <ul class="nav justify-content-end text-dark">
            <li sec:authorize="isAnonymous()" class="nav-item">
                <a class="nav-link" href="/login" th:text="#{header.login}">로그인</a>
            </li>
            <li sec:authorize="isAuthenticated()" class="nav-item">
                <form action th:action="@{/logout}" id="logout" method="post">
                    <a class="nav-link" onclick="document.getElementById('logout').submit();" href="#" th:text="#{header.logout}">로그아웃</a>
                </form>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid px-0 bg-info bg-gradient text-white" th:fragment="bodyHeader">
    <div class="container-fluid">
        <ul class="nav justify-content-center text-dark">
            <li class="nav-item">
                <a class="nav-link" href="#" th:text="#{bodyHeader.notice}">공지사항</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false" th:text="#{bodyHeader.pet}">
                    펫
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/pets" th:text="#{bodyHeader.pet.management}">펫 관리</a></li>
                    <li><a class="dropdown-item" href="/pets/adopt" th:text="#{bodyHeader.pet.registration}">펫 등록</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{bodyHeader.memory}">
                    메모리
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/memories" th:text="#{bodyHeader.memory.management}">메모리 관리</a></li>
                    <li><a class="dropdown-item" href="/memories/make" th:text="#{bodyHeader.memory.registration}">메모리 등록</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>