<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" class="container-fluid px-3 py-3 d-flex justify-content-center flex-wrap">
    <div class="px-3 py-3" th:each="petsForm : ${petsForms}" style="position:relative;">
        <div th:if="${petsForm.type == null}" th:id="${petsForm.id}" th:onmouseover="|showImageMenu('${petsForm.id}');|" th:onmouseout="|hideImageMenu('${petsForm.id}');|">
            <div class="SxgK2b">
                <a href="#" th:href="@{|/memories/${petsForm.id}|}">
                    <svg width="24px" height="24px" class="Cwtbxf JUQOtc" viewBox="0 0 24 24" style="fill:black;">
                        <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-5-7l-3 3.72L9 13l-3 4h12l-4-5z"></path>
                    </svg>
                </a>
                <a onclick="" th:onclick="|window.open('@{|/memories/walk/${petsForm.id}|}')|">
                    <svg width="24px" height="24px" class="Cwtbxf JUQOtc" viewBox="0 0 24 24" style="fill:black;">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"></path>
                    </svg>
                </a>
            </div>
            <img href="#" th:href="@{|/memories/${petsForm.id}|}" src th:src="@{/asset/pet/pet_thumbnail.png}" class="img-thumbnail" th:alt="${petsForm.name}" />
        </div>
        <div th:if="${petsForm.type != null}" th:id="${petsForm.id}" th:onmouseover="|showImageMenu('${petsForm.id}');|" th:onmouseout="|hideImageMenu('${petsForm.id}');|" >
            <div class="SxgK2b">
                <a href="#" th:href="@{|/memories/${petsForm.id}|}">
                    <svg width="24px" height="24px" class="Cwtbxf JUQOtc" viewBox="0 0 24 24">
                        <path d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V5h14v14zm-5-7l-3 3.72L9 13l-3 4h12l-4-5z"></path>
                    </svg>
                </a>
                <a onclick="" th:onclick="|window.open('@{|/memories/walk/${petsForm.id}|}')|">
                    <svg width="24px" height="24px" class="Cwtbxf JUQOtc" viewBox="0 0 24 24">
                        <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zM7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 2.88-2.88 7.19-5 9.88C9.92 16.21 7 11.85 7 9z"></path>
                    </svg>
                </a>
            </div>
            <img th:if="${petsForm.type == T(com.petsCare.petsCare.memory.entity.MemoryType).IMAGE}" href="#" th:href="@{|/memories/${petsForm.id}|}" src th:src="@{|/images/${petsForm.path}|}" class="img-thumbnail" th:alt="${petsForm.name}" />
            <video controls th:if="${petsForm.type == T(com.petsCare.petsCare.memory.entity.MemoryType).VIDEO}">
                <source src th:src="@{|/images/${petsForm.path}|}">
            </video>
        </div>
        <div class="text-center">
            <a href="#" th:href="@{|/memories/${petsForm.id}|}" th:text="${petsForm.name}">
                펫
            </a>
        </div>
    </div>
</div>
</body>
</html>