<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content" id="memories" class="container-fluid px-3 py-3 d-flex justify-content-center flex-wrap">
    <script>
        document.addEventListener('scroll', function() {
            checkScroll([[${pageSize}]], [[${petId}]]);
        });
    </script>
    <div class="px-3 py-3" th:each="reminiscence : ${reminiscences}">
        <div th:if="${reminiscence.type != null}">
            <a th:if="${reminiscence.type == T(com.petsCare.petsCare.memory.entity.MemoryType).IMAGE}" href="#" th:href="@{|/memories/detail/${reminiscence.memoryId}|}">
                <img src th:src="@{|/images/${reminiscence.path}|}" class="img-thumbnail" th:alt="${reminiscence.type}" />
            </a>
            <video controls th:if="${reminiscence.type == T(com.petsCare.petsCare.memory.entity.MemoryType).VIDEO}">
                <source src th:src="@{|/images/${reminiscence.path}|}">
            </video>
        </div>
    </div>
    <input type="hidden" id="page" value=1 />
    <input type="hidden" id="isLoading" value=false />
</div>
</body>
</html>